%h1= @title
%table.pure-table
  %thead
    %tr
      %td Name
      %td Email
      %td School
      %td Github
  %tbody
    - @registrations.each do |reg|
      %tr
        %td
          %a{ :href => "/registration/show/#{reg.id}" }= reg.name
        %td= reg.email
        %td= reg.school
        %td= reg.github
